### This notebook called weather.ipynb (Task 8: Notebook) include a brief report explaining how completed Tasks 1 to 7 with short descriptions of  commands used in each task and explain role in completing the tasks.

# Task 1
#### Steps: Create the main directory: 
``` bash
mkdir -p data/timestamps
mkdir -p data/weather 
```

#### Explanation: "-p" flag creates any parent directories as needed. This command will create data and then subdirectories timestamps and weather within it.

# Task 2
#### Steps: 1)Navigate to the directory: 
``` bash
cd data/timestamps
```
#### 2)Append the current date and time to now.txt 10 times:
``` bash
date >> now.txt (10 times)
``` 
#### 3)Verify the contents of now.txt:
``` bash
more now.txt 
```

# Task 3
#### Steps: Run the date command with formatting: 
``` bash
date -d "2026-11-14 13:00:03" +"%Y%m%d_%H%M%S" >> formatted.txt
```
#### Explanation: -d "2026-11-14 13:00:03" specifies the exact date and time. +"%Y%m%d_%H%M%S" formats the date as YYYYmmdd_HHMMSS. >> formatted.txt appends the output to formatted.txt.

# task 4
#### Steps: put comand in command line:
``` bash
touch `date +"%Y%m%d_%H%M%S"`.txt
```
#### Explanation: "data/weather/`date +"%Y%m%d_%H%M%S"`" is executes date command with specified format and specific folder and returns date string in YYYYmmdd_HHMMSS format. "touch" is command creates an empty file with name output by the date command.

# task 5
#### Steps: 1)choose directory
``` bash
cd data/weather
```
#### 2)type in command line
``` bash
wget -O weather.json https://prodapi.metweb.ie/observations/athenry/today
```
#### Explanation: wget is a command-line utility used for downloading files from web. -O weather.json is option tells wget to save the downloaded content to file named weather.json. https://prodapi.metweb.ie/observations/athenry/today is the URL from which data is being downloaded.

# Task 6
#### Steps: 
``` bash 
type wget -O data/weather/`date +"%Y%m%d_%H%M%S.json"` https://prodapi.metweb.ie/observations/athenry/today
```
#### Explanation: wget is a command-line utility used for downloading files from web. -O weather.json is option tells wget to save downloaded content to file in specific directory. https://prodapi.metweb.ie/observations/athenry/today is URL from which data is being downloaded.

# Task 7
#### Steps: 1) create bash script called weather.sh in repository weather.sh 
``` bash
cd weather
touch weather.sh
```
#### 2) automate the process from Task 6, saving the weather data to the data/weather directory:
``` bash
#! /bin/bash 
wget -O data/weather/`date +"%Y%m%d_%H%M%S.json"` https://prodapi.metweb.ie/observations/athenry/today 

```
#### 3) make testing: 
``` bash 
./weather.sh
```

# Task 9: pandas
#### Load library pandas and function read_json() to load weather dataset

In [ ]:
import pandas as pd

file_path = "data/weather/weather.json"  
weather = pd.read_json(file_path)
weather.head()

,name,temperature,symbol,weatherDescription,text,windSpeed,windGust,cardinalWindDirection,windDirection,humidity,rainfall,pressure,dayName,date,reportTime
0,Athenry,10,15n,Fog / Mist,"""Mist""",4,-,W,270,97,0.0,1023,Tuesday,2024-10-29,00:00
1,Athenry,9,15n,Fog / Mist,"""Fog thickening""",4,-,SW,225,97,0.0,1024,Tuesday,2024-10-29,01:00
2,Athenry,9,15n,Fog / Mist,"""Fog thickening""",2,-,W,270,99,0.0,1024,Tuesday,2024-10-29,02:00
3,Athenry,9,15n,Fog / Mist,"""Fog thinning""",4,-,SW,225,99,0.0,1024,Tuesday,2024-10-29,03:00
4,Athenry,9,15n,Fog / Mist,"""Fog thickening""",6,-,SW,225,99,0.1,1024,Tuesday,2024-10-29,04:00

In [11]:
# Summarize the dataset structure
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   name                   16 non-null     object
 1   temperature            16 non-null     int64
 2   symbol                 16 non-null     object
 3   weatherDescription     16 non-null     object
 4   text                   16 non-null     object
 5   windSpeed              16 non-null     object
 6   windGust               16 non-null     object
 7   cardinalWindDirection  16 non-null     object
 8   windDirection          16 non-null     int64
 9   humidity               16 non-null     int64
 10  rainfall               16 non-null     float64
 11  pressure               16 non-null     int64
 12  dayName                16 non-null     object
 13  date                   16 non-null     datetime64[ns]
 14  reportTime             16 non-null     object
dtypes: datetime64[ns](1), float64(1), int64(4), object(9)
memory usage: 2.0+ KB

In [12]:
# Provide statistical summary for numerical columns
weather.describe()

,temperature,windDirection,humidity,rainfall,pressure,date
count,16.00000,16.000000,16.000000,16.000000,16.000000,16
mean,9.75000,194.062500,95.875000,0.012500,1025.375000,2024-10-29 00:00:00
min,6.00000,0.000000,81.000000,0.000000,1023.000000,2024-10-29 00:00:00
25%,8.75000,213.750000,97.000000,0.000000,1024.000000,2024-10-29 00:00:00
50%,9.00000,225.000000,97.500000,0.000000,1025.500000,2024-10-29 00:00:00
75%,11.25000,270.000000,98.250000,0.000000,1026.250000,2024-10-29 00:00:00
max,14.00000,270.000000,99.000000,0.100000,1027.000000,2024-10-29 00:00:00
std,2.32379,99.569385,4.910872,0.034157,1.310216,NaN

#### Short explanation of data set by using information provided data.gov.ie

In [23]:
import pandas as pd

file_name = 'athenry.csv'
data_a = pd.read_csv(file_name)
data_a.head()

,Time,Report,Temperature ºC,Wind Speed km/h,Wind Gust km/h,Wind Direction º,Rainfall mm/h,Pressure hPa
0,00:00,"""Light rain """,8,6,0,315,0.01,1014
1,01:00,"""Recent Drizzle """,8,6,0,0,0.10,1014
2,02:00,"""Rain shower""",7,4,0,315,0.01,1014
3,03:00,"""Recent Rain""",7,2,0,0,0.01,1014
4,04:00,"""Mist""",7,2,0,180,0.00,1013

In [24]:
# Summarize the dataset structure
data_a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Time              11 non-null     object
 1   Report            11 non-null     object
 2   Temperature ºC    11 non-null     int64
 3   Wind Speed km/h   11 non-null     int64
 4   Wind Gust km/h    11 non-null     int64
 5   Wind Direction º  11 non-null     int64
 6   Rainfall mm/h     11 non-null     float64
 7   Pressure hPa      11 non-null     int64
dtypes: float64(1), int64(5), object(2)
memory usage: 836.0+ bytes

In [25]:
# Provide statistical summary for numerical columns
data_a.describe()

,Temperature ºC,Wind Speed km/h,Wind Gust km/h,Wind Direction º,Rainfall mm/h,Pressure hPa
count,11.000000,11.000000,11.0,11.000000,11.000000,11.000000
mean,7.000000,6.727273,0.0,122.727273,0.312727,1012.818182
std,0.632456,4.173510,0.0,106.662168,0.403066,1.328020
min,6.000000,2.000000,0.0,0.000000,0.000000,1010.000000
25%,7.000000,4.000000,0.0,90.000000,0.010000,1012.500000
50%,7.000000,6.000000,0.0,90.000000,0.100000,1013.000000
75%,7.000000,8.000000,0.0,135.000000,0.700000,1014.000000
max,8.000000,15.000000,0.0,315.000000,1.100000,1014.000000

#### Explanation of dataset: The dataset consists of 11 entries with 8 columns (Time, Report, Temperature ºC, Wind Speed km/h, Wind Gust km/h, Wind Direction º, Rainfall mm/h, Pressure hPa). All columns have complete data (no missing values). Weather conditions are described both qualitatively (in "Report") and quantitatively (e.g., temperature, rainfall). Wind gusts are recorded as zero for provided data.

--------------------------------